*{
    margin: 0;
}
.box{
    margin: 10px;
    background-color: orange;
    width: 500px;
}
.box1{
    background-color: orange;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    width: 500px;
    border: 5px solid brown;

}
.box2{
    background-color: orange;
    width: 500px;
    height: 100px;
    margin: 40px 80px;
    padding-left: 200px;
    border-left: 10px solid black;
    border-bottom: 10px double yellow;
    border-right: 10px dashed brown;
    border-top: 5px solid grey;
}


.key{
    background-color: blueviolet;
    width: 500px;
    height: 100px;
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
}
